@model projeto.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>curso com Francisco Rafael</p>

<h2>Validação de Usuários</h2>
@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)
<fieldset>
    <legend> Dados do Usuário</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nome)
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

</fieldset>

}

<br />
<br />

<p>View Tipada</p>

@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Informações de Pessoas</legend>


        <div>
            @Html.LabelFor(x=>x.PessoaId)
        </div>
        <div>
           @Html.EditorFor(x=>x.PessoaId)
        </div>

        <div>
            @Html.LabelFor(x => x.Nome)
        </div>
        <div>
            @Html.EditorFor(x => x.Nome)
        </div>

        <div>
            @Html.LabelFor(x => x.Tipo)
        </div>
        <div>
            @Html.EditorFor(x => x.Tipo)
        </div>

        <p><input type="submit" value="Enviar" /></p>

    </fieldset>
}